body {
}
h2{
    color:#ff6a00;
    font-size: 2.5em;
    margin-bottom:15px;
}

.itemTypePicker{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0.2);
}

.catalogChk{
    display:inline-block;
    width:20%;
    color:#307bd4;
    font-weight:bold;
    margin: 5px 0;
}

.catalogChk [type=checkbox]{
    margin-left: 5px;
    margin-right: 40px;
}
.catalogChk:nth-last-of-type(1){
    margin-bottom:20px;
}

.productImg {
    display:block;
    margin: 10px auto;
    text-align:center;
    width:200px;
    height:170px;
}
.productImg img{
    max-width:200px;
    max-height:150px;
    margin-top:20px;
}

.catalogItem{
    float:right;
    border:1px solid black; 
    margin:5px; 
    width:23%;
    height:300px;
    color:rgba(100,100,0,0.8);
    z-index:1;
}

.catalogItem h3{
    color:#307bd4;
    margin-right:15px;
}

.catalogItem:hover{
    border: 1px solid #ff6a00;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
    cursor:pointer;
}

.catalogItem:hover h3{
    color:#ff6a00;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.btnProduct{
    display:block;
    background:rgba(200,0,0,0.8);
    color:white;
    width:40%;
    height:30px;
    margin: 25px auto;
    z-index:5;
}

.btnProduct:hover{
    cursor:pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.2), inset 2px 2px rgba(0,0,0,0.2);
    color:#307bd4;
}

#itemContent{
    width:80%;
    margin:50px auto;
    border: 1px solid black;
    border-radius:20px;
    box-shadow: 3px 3px rgba(0,0,0,0.5);
}

#itemContent #itemDescription{
    float:right;
    width:65%;
}

#itemContent img{
    float:left;
    max-width:30%;
    margin:2% 0 0 3%;
}

#itemContent h3{
    color:#307bd4;
    font-weight:bold;
    margin:1% 3% 0 0;
}

#itemContent #itemPrice{
    margin:1% 4% 2% 0;
    font-weight:bold;
    color:#ff6a00;
}

#itemContent #desc{
    margin:5px 30px 0 0;
    width:85%;
    margin:1% 10% 0 0;
    
}

#itemContent .btnProduct{
    float:right;
    width:20%;
    margin:2% 5% 2% 0;
}

/*------------------------------ For Admin ------------------------------*/
#adminPlace {
    background-color:green;
    height:60px;
}
#quantity {
    background-color:yellow;
    text-align:center !important;
}
.adminButton {
    margin:0 !important;
    background-color:blue !important;
}

.adminButton:first-of-type{
    float:right;
    margin-right:15px !important;
}

.adminButton:last-of-type{
    float:left;
    margin-left:15px !important;
}
#removeButton {
    float:right;
    margin-right:15px;
}
#editButton {
}