body {
    position:relative;
    font-family:'Angsana New';
}

header {
    font-size:5em;
    background-color:rgb(62, 57, 57);
    color:rgb(255, 106, 0);
    text-align:center;
    height:150px;
}

#line {
    position:absolute;
    top:200px;
    background:red;
    height:30px;
    margin-top:5px    
}

.logReg {
    height:400px;
    width:500px;
    font-size:3.5em;
    text-align:center;
    background-color:rgb(255, 106, 0);
    color:rgb(62, 57, 57);
}
#loginCell {
    position:absolute;
    right:430px;
    top:200px;
}

#registerCell {
    position:absolute;
    right:970px;
    top:200px;
}

.content {
    height: 300px;
    width: 470px;
    background-color:white;

}
#loginContent {
    background-color:white;
    position:absolute;
    text-align:center;
    font-size:1.7em;
    top:285px;
    right:445px;
}
    
#registerContent {
    position:absolute;
    text-align:center;
    font-size:2em;
    top:285px;
    right:985px;
}

.inputText {
    float:right;
    margin-right:95px;
}

.input {
    width:280px;
    border: 3px solid;
    border-radius: 5px;
    height:25px;
    font-size:0.8em;
    padding-right:2px;
}
    .input:focus {
        outline:0;
        border-color:rgb(128, 128, 128);
    }

.btn {
    color: white;
    width:150px;
    background:black;
    border-radius:7px;
    height:50px;
    font-size:1em;
    box-shadow:rgb(128, 128, 128) 2px 2px 5px;
    outline:0;
}
    .btn:hover {
        background-color:rgb(128, 128, 128);
        cursor:pointer;
    }

#registerBtn {
    height:60px;
    width:180px;
}
#UserNameRequiredFieldValidator {
    position:absolute;
    right:520px;
    top:348px;
    color:red;
    font-size:1.5em;
}

#PasswordRequiredFieldValidator {
    position:absolute;
    right:520px;
    top:448px;
    color:red;
    font-size:1.5em;
}