@import url(http://fonts.googleapis.com/css?family=Droid+Serif|Montserrat);

*{padding:0;margin:0;border:none;border-collapse:collapse;text-decoration:none; outline:0;}
a,.a{transition: all .2s linear;-o-transition: all .2s linear;-moz-transition: all .2s linear;-webkit-transition: all .2s linear}
.clear{
    display:block;
    clear:both;
}

.hidden{
    display:none !important;
}

.btn{
    display:block;
    background:rgba(200,0,0,0.8);
    color:white;
}

.btn:hover{
    cursor:pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.2), inset 2px 2px rgba(0,0,0,0.2);
    color:#307bd4;
}

body {
    font-family:'Segoe UI',Tahoma,Helvetica,Sans-Serif;
    width:100%;
}

header{
    width:calc(100% - 10px);
    height:80px;
    background:#3e3939; 
    color:white;
    padding-right: 10px;
    border-bottom:3px solid rgba(0,0,0,0.1);
}

#logo{
    font-family:'Montserrat', sans-serif;
    font-size:4em;
}

#logo_content{
    color:#ff6a00;
}

nav{
    width:calc(100% - 25px);
    line-height:40px;
    background: rgba(62, 57, 57, 0.8);
    font-size:1.7em;
    color:white;
    padding-right: 25px;
}

nav .a{
    padding-right:5px;
    margin-left: 20px;
    color:white;
}

nav .a:hover{
    color: #ff6a00;
    cursor:pointer;
}

nav .aActive:hover{
    cursor:default !important;
}
#user{
    float:left;
}

#user #userName{
    color:white;
}

#user #userName:hover{
    color:#ff6a00;
}

#user #logout{
    float:left;
    margin:0 5px;
    text-decoration:underline;
}

#content{
    width:1200px;
    margin: 0 auto;
    margin-top:20px;
}

/*------------------------ popup --------------------------*/

.popup {
    position:fixed;
    width:600px;
    height:580px;
    top:15px;
    right:25%;
    background-color:rgb(220, 219, 219);
    border-radius: 10px;
    border: 1px solid black;    
}

.popupHeader {
    text-align:right;
    padding-right:7%;
}

h4 {
    color:#ff6a00;
    font-size: 2em;
}
.popupRow {
    text-align:right;
    margin-top:2.5%;
    height:4.5%;
}

.popupLabel{
    color:#307bd4;
    float:right;
    font-weight:bold;
    margin-right:8%;
    width:20%;
    height:100%;
}

.popupInputText {
    margin-right:4%;
    width:40%;
    height:70%;
    border: 2px solid black;
    border-radius:5px;
    padding-right:1%;
}

.popupDropDownList {
    margin-right:4%;
    width:41.7%;
    height:83%;
    border: 2px solid black;
    border-radius:5px;
    padding-right:1%;
}
