body {
}

#manageUserContent {
    align-content:center !important;
    background-color:pink !important;
    text-align:right;
}

#changeUserTypeBtn {
    width:85%;
    height:25px;
    font-size:0.7em;
    margin-right:0 !important;
}
