body {
}

#manageUserContent {
    align-content:center !important;
    background-color:pink !important;
    text-align:right;
}

#manageUserTable {
    text-align:center;
}
.tableRow {
    width:100%;
}
.tableCell {
    width:20%;
    border:1px solid black;
}

#changeUserTypeBtn {
    width:70%;
    height:25px;
    font-size:0.7em;
    margin-right:0 !important;
}