body {
}

.btn{
    width:10%;
    height:30px;
    margin:0 auto;
}

.salesTable{
    margin:15px auto;
    width:80%;
}

.salesTable td{
    padding:15px;
    vertical-align:middle;
}

.tableHeader th{
    color: #307bd4;
    min-width:100px;
    text-align:right;
    border-bottom:2px solid rgba(0,0,0,0.2);
    padding: 0 15px;
}

.mySalesRow{
    border-bottom:2px solid rgba(0,0,0,0.2);
}

.tableFooter td{
    padding-top:20px !important;
    font-weight:bold;
    font-size:1.1em;
    color: #307bd4;
}

.dropAmount{
    border:1px solid black;
}

h2{
    color: #307bd4;
    margin:0 0 20px 0;
}