<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>

  <connectionStrings>
    <add name="IKitchenDB" connectionString="Server=tcp:eblqo8r1qg.database.windows.net,1433;Database=IKitchen;User ID=pavelva@eblqo8r1qg;Password=q1w2e#R$ ;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountSoap" />
        <binding name="ProductsSoap" allowCookies="true" maxBufferPoolSize="20000000"
          maxReceivedMessageSize="20000000" />
        <binding name="ConvertorSoap" />
        <binding name="StoreSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ikitchenws.azurewebsites.net/Account.asmx"
        binding="basicHttpBinding" bindingConfiguration="AccountSoap"
        contract="Account.AccountSoap" name="AccountSoap" />
      <endpoint address="http://ikitchenws.azurewebsites.net/Convertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="ConvertorSoap"
        contract="Convertor.ConvertorSoap" name="ConvertorSoap" />
      <endpoint address="http://ikitchenws.azurewebsites.net/Products.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProductsSoap"
        contract="Products.ProductsSoap" name="ProductsSoap" />
      <endpoint address="http://ikitchenws.azurewebsites.net/Store.asmx"
        binding="basicHttpBinding" bindingConfiguration="StoreSoap"
        contract="Store.StoreSoap" name="StoreSoap" />
    </client>
  </system.serviceModel>
</configuration>